<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Node Okta SAML SSO with WorkOS</title>
</head>
<body>
    <section class="account-container">
        <h1>Log in successful!</h1>
        <section class="profile-container">
            <textarea readonly id="profile-raw-info"><%=profileInfo%></textarea>
        </section>
        <a class="logout-button" href="/">Log out</a>
    </section>
</body>
</html>